body{
    background-color: rgb(107, 183, 107) ;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgb(81, 81, 81);
}

.photo-canabis01 {
  width: 40%;          /* équivalent à ~500px si le parent fait ~1250px de large */
  position: absolute;
  top: -12%;           /* équivalent à -150px si le parent fait 1250px de haut */
  left: -13%;          /* équivalent à -160px si le parent fait ~1250px de large */
  transform: rotate(120deg);
}
.photo-canabis02{
  width: 500px; 
  position: absolute;
  top: -180px; 
  left: 1100px;
  transform: rotate(-120deg);
  width: 120px;
  animation: balançoire 2.5s ease-in-out infinite;
}
.photo-canabis03{
  width: 750px; 
  position: absolute;
  top: 200px; 
  left: 900px;
  transform: rotate(-40deg);
}
@keyframes balançoire {
  0%   { transform: rotate(-10deg); }
  50%  { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}
