body{
    background-color: rgb(107, 183, 107) ;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgb(81, 81, 81);
}

.photo-canabis01 {
  width: 40%;
  position: absolute;
  top: -10%;
  left: -15%;
  --rotation: 120deg; /* variable CSS pour la rotation */
  transform: rotate(var(--rotation));
}

.photo-canabis02 {
  width: 35%;
  position: absolute;
  top: 65%;
  left: -1%;
  --rotation: 55deg;
  transform: rotate(var(--rotation));
}

.photo-canabis03 {
  width: 45%;
  position: absolute;
  bottom: -15%;
  right: -18%;
  --rotation: -40deg;
  transform: rotate(var(--rotation));
}

@keyframes bouge {
  0% {
    transform: rotate(var(--rotation)) translateY(0);
  }
  50% {
    transform: rotate(var(--rotation)) translateY(10px);
  }
  100% {
    transform: rotate(var(--rotation)) translateY(0);
  }
}

.photo-canabis01,
.photo-canabis02,
.photo-canabis03 {
  animation: bouge 3s ease-in-out infinite;
}
