body{
    background-color: rgb(107, 183, 107) ;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgb(81, 81, 81);
}
#button{
    background-color: rgb(59, 121, 59);
}
.photo-dollars{
  width: 10%;
  position: relative;
 transform: translate(850%, -50%);
}

.money-box {
    display: flex;
    align-items: center;
    justify-content: center; /* centrer le texte */
    width: 200px; 
    height: 60px;
    border: 4px solid white;
    border-radius: 10px;
    background-color: rgba(0, 128, 0, 0.9); /* fond visible */
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
    
    position: fixed; /* fixe en haut à droite */
    top: 20px;
    right: 20px;
    z-index: 9999;
}