body{
    background-color: rgb(107, 183, 107) ;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgb(81, 81, 81);
}

.photo-canabis01 {
  width: 40%;
  position: absolute;
  top: -10%;      /* remplace tes px */
  left: -15%;
  transform: rotate(120deg);
}

.photo-canabis02 {
  width: 30%;
  position: absolute;
  top: 0%;
  right: 5%;    /* plus stable que left: 1100px */
  transform: rotate(-120deg);
}

.photo-canabis03 {
  width: 45%;
  position: absolute;
  bottom: 10%;  /* remplace px */
  right: 5%;
  transform: rotate(-40deg);
}


@keyframes bouge {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0); }
}

/* On applique le mouvement à toutes tes feuilles */
.photo-canabis01,
.photo-canabis02,
.photo-canabis03 {
  animation: bouge 3s ease-in-out infinite;
}
.smoke {
  position: fixed;
  bottom: 0;
  left: -50%;              /* commence hors écran à gauche */
  width: 200%;             /* large pour glisser */
  height: 140px;
  pointer-events: none;
  background: radial-gradient(
      circle,
      rgba(255,255,255,0.8) 40%,
      rgba(255,255,255,0.0) 70%
  );
  filter: blur(20px);      /* effet fumée */
  animation: smoke-move 10s linear infinite;
}

/* Mouvement horizontal */
@keyframes smoke-move {
  0%   { transform: translateX(0); }
  100% { transform: translateX(50%); }
}
