/* ANIMATIONS */
@keyframes wave1 {
  0%   { transform: rotate(120deg) translateY(0); }
  50%  { transform: rotate(125deg) translateY(10px); }
  100% { transform: rotate(120deg) translateY(0); }
}

@keyframes wave2 {
  0%   { transform: rotate(-120deg) translateY(0); }
  50%  { transform: rotate(-115deg) translateY(12px); }
  100% { transform: rotate(-120deg) translateY(0); }
}

@keyframes wave3 {
  0%   { transform: rotate(-40deg) translateY(0); }
  50%  { transform: rotate(-35deg) translateY(15px); }
  100% { transform: rotate(-40deg) translateY(0); }
}

/* FEUILLES AVEC POSITIONS D'ORIGINE */
.photo-canabis01 {
  width: 40%;
  position: absolute;
  top: -12%;
  left: -13%;
  animation: wave1 4s ease-in-out infinite;
}

.photo-canabis02 {
  width: 500px;
  position: absolute;
  top: -180px;
  left: 1100px;
  animation: wave2 3.8s ease-in-out infinite;
}

.photo-canabis03 {
  width: 750px;
  position: absolute;
  top: 200px;
  left: 900px;
  animation: wave3 5s ease-in-out infinite;
}
